/* Buttons
--------------------------------------------- */
button,
input[type="button"],
input[type="submit"],
.wp-block-button__link,
.wp-block-post-comments input[type="submit"],
.wp-block-search__button,
.wp-block-read-more {
	background-color: var(--wp--preset--color--tertiary);
	border: 1px solid var(--wp--preset--color--tertiary);
	border-radius: 0;
	color: var(--wp--preset--color--secondary);
	cursor: pointer;
	font-family: var(--wp--preset--font-family--ubutunu-monospace);
	font-size: var(--wp--preset--font-size--regular);
	font-weight: var(--wp--custom--font-weight--bold);
	padding: 15px 30px;
	text-decoration: none;
	white-space: normal;
	width: auto;
	transition: all linear 500ms;
	display: inline-block;

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--secondary);
		color: var(--wp--preset--color--tertiary);
		text-decoration: none;
	}

	&.has-background {

		&:focus,
		&:hover {
			background-color: var(--wp--preset--color--secondary) !important;
			color: var(--wp--preset--color--tertiary) !important;
			text-decoration: none;
		}

		&.has-secondary-background-color {
			background-color: var(--wp--preset--color--secondary);
			border: 1px solid var(--wp--preset--color--secondary);
			color: var(--wp--preset--color--primary);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--primary) !important;
				color: var(--wp--preset--color--secondary) !important;
			}
		}

		&.has-primary-background-color {
			background-color: var(--wp--preset--color--primary);
			border: 1px solid var(--wp--preset--color--primary);
			color: var(--wp--preset--color--secondary);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--secondary) !important;
				color: var(--wp--preset--color--primary) !important;
			}
		}

		&.has-black-background-color {
			background-color: var(--wp--preset--color--black);
			border: 1px solid var(--wp--preset--color--black);
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white) !important;
				color: var(--wp--preset--color--black);
			}
		}

		&.has-off-black-background-color {
			background-color: var(--wp--preset--color--off-black);
			border: 1px solid var(--wp--preset--color--off-black);
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white) !important;
				color: var(--wp--preset--color--off-black);
			}
		}

		&.has-off-white-background-color {
			background-color: var(--wp--preset--color--off-white);
			border: 1px solid var(--wp--preset--color--off-white);
			color: var(--wp--preset--color--black);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--black) !important;
				color: var(--wp--preset--color--off-white);
			}
		}

		&.has-white-background-color {
			background-color: var(--wp--preset--color--white);
			border: 1px solid var(--wp--preset--color--white);
			color: var(--wp--preset--color--black);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--black) !important;
				color: var(--wp--preset--color--white);
			}
		}

		&.has-dark-red-background-color {
			background-color: var(--wp--preset--color--dark-red);
			border: 1px solid var(--wp--preset--color--dark-red);
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white) !important;
				color: var(--wp--preset--color--dark-red);
			}
		}

		&.has-light-red-background-color {
			background-color: var(--wp--preset--color--light-red);
			border: 1px solid var(--wp--preset--color--light-red);
			color: var(--wp--preset--color--black);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--black) !important;
				color: var(--wp--preset--color--light-red);
			}
		}

		&.has-dark-orange-background-color {
			background-color: var(--wp--preset--color--dark-orange);
			border: 1px solid var(--wp--preset--color--dark-orange);
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white) !important;
				color: var(--wp--preset--color--dark-orange);
			}
		}

		&.has-light-orange-background-color {
			background-color: var(--wp--preset--color--light-orange);
			border: 1px solid var(--wp--preset--color--light-orange);
			color: var(--wp--preset--color--black);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--black) !important;
				color: var(--wp--preset--color--light-orange);
			}
		}

		&.has-dark-yellow-background-color {
			background-color: var(--wp--preset--color--dark-yellow);
			border: 1px solid var(--wp--preset--color--dark-yellow);
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white) !important;
				color: var(--wp--preset--color--dark-yellow);
			}
		}

		&.has-light-yellow-background-color {
			background-color: var(--wp--preset--color--light-yellow);
			border: 1px solid var(--wp--preset--color--light-yellow);
			color: var(--wp--preset--color--black);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--black) !important;
				color: var(--wp--preset--color--light-yellow);
			}
		}

		&.has-dark-green-background-color {
			background-color: var(--wp--preset--color--dark-green);
			border: 1px solid var(--wp--preset--color--dark-green);
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white) !important;
				color: var(--wp--preset--color--dark-green);
			}
		}

		&.has-light-green-background-color {
			background-color: var(--wp--preset--color--light-green);
			border: 1px solid var(--wp--preset--color--light-green);
			color: var(--wp--preset--color--black);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--black) !important;
				color: var(--wp--preset--color--light-green);
			}
		}

		&.has-dark-blue-background-color {
			background-color: var(--wp--preset--color--dark-blue);
			border: 1px solid var(--wp--preset--color--dark-blue);
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white) !important;
				color: var(--wp--preset--color--dark-blue);
			}
		}

		&.has-light-blue-background-color {
			background-color: var(--wp--preset--color--light-blue);
			border: 1px solid var(--wp--preset--color--light-blue);
			color: var(--wp--preset--color--black);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--black) !important;
				color: var(--wp--preset--color--light-blue);
			}
		}

		&.has-dark-purple-background-color {
			background-color: var(--wp--preset--color--dark-purple);
			border: 1px solid var(--wp--preset--color--dark-purple);
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white) !important;
				color: var(--wp--preset--color--dark-purple);
			}
		}

		&.has-light-purple-background-color {
			background-color: var(--wp--preset--color--light-purple);
			border: 1px solid var(--wp--preset--color--light-purple);
			color: var(--wp--preset--color--black);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--black) !important;
				color: var(--wp--preset--color--light-purple);
			}
		}
	}
}

.is-style-outline {

	& button,
	& input[type="button"],
	& input[type="submit"],
	& .wp-block-button__link,
	& .wp-block-post-comments input[type="submit"],
	& .wp-block-search__button,
	& .wp-block-read-more {
		background-color: transparent;
		border: 1px solid var(--wp--preset--color--tertiary);
		border-radius: 0;
		color: var(--wp--preset--color--tertiary);
		cursor: pointer;
		font-family: var(--wp--preset--font-family--ubuntu-monospace);
		font-size: var(--wp--preset--font-size--regular);
		font-weight: var(--wp--custom--font-weight--bold);
		padding: 15px 30px;
		text-decoration: none;
		white-space: normal;
		width: auto;
		transition: all linear 500ms;

		&:hover,
		&:focus {
			background-color: var(--wp--preset--color--tertiary);
			color: var(--wp--preset--color--secondary);
			text-decoration: none;
		}

		&.has-background {

			&:focus,
			&:hover {
				color: var(--wp--preset--color--tertiary);
				filter: brightness(110%);
			}

			&.has-black-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--black);
				color: var(--wp--preset--color--black);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--black) !important;
					color: var(--wp--preset--color--white);
				}
			}

			&.has-off-black-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--off-black);
				color: var(--wp--preset--color--off-black);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--off-black) !important;
					color: var(--wp--preset--color--white);
				}
			}

			&.has-off-white-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--off-white);
				color: var(--wp--preset--color--off-white);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--off-white) !important;
					color: var(--wp--preset--color--black);
				}
			}

			&.has-white-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--white);
				color: var(--wp--preset--color--white);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--black) !important;
					color: var(--wp--preset--color--white);
				}
			}

			&.has-dark-red-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--dark-red);
				color: var(--wp--preset--color--dark-red);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--dark-red) !important;
					color: var(--wp--preset--color--white);
				}
			}

			&.has-light-red-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--light-red);
				color: var(--wp--preset--color--light-red);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--light-red) !important;
					color: var(--wp--preset--color--black);
				}
			}

			&.has-dark-orange-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--dark-orange);
				color: var(--wp--preset--color--dark-orange);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--dark-orange) !important;
					color: var(--wp--preset--color--white);
				}
			}

			&.has-light-orange-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--light-orange);
				color: var(--wp--preset--color--light-orange);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--light-orange) !important;
					color: var(--wp--preset--color--black);
				}
			}

			&.has-dark-yellow-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--dark-yellow);
				color: var(--wp--preset--color--dark-yellow);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--dark-yellow) !important;
					color: var(--wp--preset--color--white);
				}
			}

			&.has-light-yellow-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--light-yellow);
				color: var(--wp--preset--color--light-yellow);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--light-yellow) !important;
					color: var(--wp--preset--color--black);
				}
			}

			&.has-dark-green-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--dark-green);
				color: var(--wp--preset--color--dark-green);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--dark-green) !important;
					color: var(--wp--preset--color--white);
				}
			}

			&.has-light-green-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--light-green);
				color: var(--wp--preset--color--light-green);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--light-green) !important;
					color: var(--wp--preset--color--black);
				}
			}

			&.has-dark-blue-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--dark-blue);
				color: var(--wp--preset--color--dark-blue);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--dark-blue) !important;
					color: var(--wp--preset--color--white);
				}
			}

			&.has-light-blue-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--light-blue);
				color: var(--wp--preset--color--light-blue);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--light-blue) !important;
					color: var(--wp--preset--color--black);
				}
			}

			&.has-dark-purple-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--dark-purple);
				color: var(--wp--preset--color--dark-purple);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--dark-purple) !important;
					color: var(--wp--preset--color--white);
				}
			}

			&.has-light-purple-background-color {
				background-color: transparent !important;
				border: 1px solid var(--wp--preset--color--light-purple);
				color: var(--wp--preset--color--light-purple);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--light-purple) !important;
					color: var(--wp--preset--color--black);
				}
			}
		}
	}
}
