/* Code
--------------------------------------------- */
.wp-block-code code {
	overflow-wrap: normal;
	overflow-x: scroll;
	white-space: pre;
}

*:not(.wp-block-code) > code {
	background-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--secondary);
	font-size: var(--wp--preset--font-size--regular);
	padding: 5px 8px;
	position: relative;
	top: -1px;
}
