/* Pullquote
--------------------------------------------- */

.wp-block-pullquote .has-text-color .wp-block-pullquote__citation,
.wp-block-pullquote .has-text-color p {
	color: currentColor;
}

.wp-block[data-align=left] .wp-block-pullquote,
.wp-block[data-align=right] .wp-block-pullquote {
	max-width: 300px;
}

.wp-block[data-align=left] .wp-block-pullquote {
	margin-left: -100px;
	margin-right: 30px;
}

.wp-block[data-align=right] .wp-block-pullquote {
	margin-left: 30px;
	margin-right: -100px;
}

.wp-block-pullquote {
	text-align: center;
	box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.5);
	background-color: #d6d6d6;
}

.wp-block-pullquote p,
.wp-block[data-align=left]>.wp-block-pullquote p,
.wp-block[data-align=right]>.wp-block-pullquote p,
.wp-block-pullquote .wp-block-pullquote__citation {
	text-align: center;
}

.wp-block-pullquote p,
.wp-block[data-align=left]>.wp-block-pullquote p,
.wp-block[data-align=right]>.wp-block-pullquote p {
	font-size: var(--wp--preset--font-size--large);
	font-style: normal;
	line-height: var(--wp--custom--line-height--smaller);
	margin-bottom: 10px;
}

.wp-block-pullquote .wp-block-pullquote__citation {
	color: var(--wp--preset--color--primary);
	display: block;
	font-size: var(--wp--preset--font-size--small);
	font-style: inherit;
	text-transform: none;
}

/* Quote
--------------------------------------------- */

.wp-block-quote {
	box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.5);
	background-color: #d6d6d6;
}

.wp-block-quote.has-text-align-center,
.wp-block-quote.has-text-align-left,
.wp-block-quote.has-text-align-right,
.wp-block-quote.is-style-large {
	border: 1px solid var(--wp--preset--color--primary);
	margin-bottom: 35px;
	padding: 30px 40px;
}

.wp-block-quote p:last-of-type {
	margin-bottom: 0;
}

.wp-block-quote p {
	font-family: var(--wp--preset--font-family--ubutunu-monospace);
}

.wp-block-quote cite,
.wp-block-quote.is-style-large p,
.wp-block-quote.is-style-large cite {
	font-style: inherit;
}

.wp-block-quote.is-style-large p {
	font-size: var(--wp--preset--font-size--x-large);
	line-height: var(--wp--custom--line-height--medium);
}

.wp-block-quote cite,
.wp-block-quote.is-style-large cite {
	display: block;
	font-size: var(--wp--preset--font-size--regular);
	margin-top: 10px;
	text-align: inherit;
}
