/* Images
--------------------------------------------- */

img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

.wp-block-image .alignleft {
	margin-right: 30px;
}

.wp-block-image .alignright {
	margin-left: 30px;
}