/* Pullquote
--------------------------------------------- */

.wp-block-pullquote {
	text-align: center;
	box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.5);
	background-color: #d6d6d6;
}

.wp-block-pullquote p,
.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
	font-size: var(--wp--preset--font-size--large);
	line-height: var(--wp--custom--line-height--medium);
	margin-bottom: 0;
	font-family: var(--wp--preset--font-family--ubutunu-monospace);
}

.wp-block-pullquote cite {
	display: block;
	font-size: var(--wp--preset--font-size--small);
	font-style: inherit;
	margin-top: 10px;
	text-transform: inherit;
}

/* Quote
--------------------------------------------- */

.wp-block-quote {
	box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.5);
	background-color: #d6d6d6;
}

.wp-block-quote.has-text-align-center,
.wp-block-quote.has-text-align-left,
.wp-block-quote.has-text-align-right,
.wp-block-quote.is-style-large {
	margin-bottom: 35px;
	padding: 30px 40px;
}

.wp-block-quote p:last-of-type {
	margin-bottom: 0;
}

.wp-block-quote p {
	font-family: var(--wp--preset--font-family--ubutunu-monospace);
}

.wp-block-quote cite,
.wp-block-quote.is-style-large p,
.wp-block-quote.is-style-large cite {
	font-style: inherit;
}

.wp-block-quote.is-style-large p {
	font-size: var(--wp--preset--font-size--x-large);
	line-height: var(--wp--custom--line-height--medium);
}

.wp-block-quote cite,
.wp-block-quote.is-style-large cite {
	display: block;
	font-size: var(--wp--preset--font-size--regular);
	margin-top: 10px;
	text-align: inherit;
}