/* Separator
--------------------------------------------- */

.wp-block-separator {
	border-bottom: 1px solid var(--wp--preset--color--black);
	opacity: 1;
}

.wp-block-separator.is-style-dots:before {
	font-family: inherit;
	font-size: var(--wp--preset--font-size--large);
	letter-spacing: 10px;
	padding-left: 10px;
}