/* Site Content
---------------------------------------------------------------------------- */

/* Post Comments
--------------------------------------------- */

.wp-block-post-comments input:not([type=submit]),
.wp-block-post-comments textarea {
	border-color: var(--wp--preset--color--black);
}

.wp-block-post-comments .commentlist {
	margin-bottom: 40px;
	margin-top: 40px;
}

.wp-block-post-comments .form-submit {
	margin-bottom: 0;
}

.wp-block-post-comments .comment-form-cookies-consent {
	font-size: var(--wp--preset--font-size--regular);
}
